<ion-view view-title="Trip Details">
  <ion-content>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <center><input type="search" placeholder="Destination"></center>
        </label>
        <button class="button button-positive button-clear">
          Cancel
        </button>
      </div>
      <p><center>Adjust your fuel tank level</center></p>
      <ion-item>

      
           <div class = "item range" ng-controller="LandingCtrl">
          <i class="icon ion-soup-can-outline"></i>
        <input type="range" min="1" max="100" name = "Fuel"  ng-model = "range">
          <i class="icon ion-soup-can"></i>
        </div>
     
       </ion-item>

        <div type="submit" ng-click="submit_form(routeData)" ng-controller="LandingCtrl" class="bar bar-footer bar-balanced">
          <div class="title">Navigate</div>
        </div>
  </ion-content>
</ion-view>
