<ion-view view-title="Trip Details">
  <a class="button button-icon icon ion-settings"></a>
  <ion-content>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <center><input type="search" placeholder="Destination"></center>
        </label>
        <button class="button button-positive button-clear">
          Cancel
        </button>
      </div>

      <div class="list">

     <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="number" placeholder="Tank capacity" ng-model="tankCapacity">
      </label>
      
     </div>

  </div>

      <p><center>Adjust your fuel tank level</center></p>
      <ion-item>
        <div class = "item range">
          <i class="icon ion-soup-can-outline"></i>
          <input type="range" ng-model="volume" max="{{tankCapacity}}" name="volume">
          <i class="icon ion-soup-can"></i>
        </div>
        {{volume}}
      </ion-item>
      <ion-item>
        <a href="#/settings"><button class="button button-icon icon-left ion-settings">Settings</button>
      </ion-item>

      <div class="bar bar-footer bar-balanced">
        <a href="#/map"><div class="title">Navigate</div></a>
      </div>
  </ion-content>
</ion-view>
