<ion-view  view-title="landing">
  <ion-content>

    <p class="padding"><div class="bar bar-header">
      <button class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">FuelSaver</div>
      <a class="button button-icon icon ion-settings"></a>
    </div><br></p>

        <!-- Here -->
        <p class="padding"><button class="button button-block button-balanced">
          Time Allowance
        </button></p>


        <p class="padding"><button class="button button-block button-balanced">
          Petrol Estimation
        </button></p>

        <div class="img-circular"></div>


    <a class="button icon-right ion-chevron-right button-calm" href="#/map">Map</a>
  </ion-content>
</ion-view>
